@mixin cti() {
  container-type: inline-size;
}

@function cqi($width, $min, $max) {
  @return clamp($min * 1px, ($max * 100 / $width) * 1cqi, $max * 1px);
}

@media (min-width: 1275px) {
  .comunnity-grid-content {
    &::after {
      left: calc(-15px - (100vw - 1275px) / 2);
    }
  }

  .request-grid-content {
    &::after {
      left: calc(-15px - (100vw - 1275px) / 2);
    }
  }
}

@media (max-width: 1023px) {
  .advantage-flexbox {
    flex-wrap: wrap;
    gap: cqi(1023, 30, 51);
  }

  .advantage-flexbox-titleAndLogo {
    display: flex;
    align-items: center;
    gap: cqi(1023, 10, 30);
    &__title {
      margin-bottom: 0;
      order: 1;
    }
    &__logo {
      order: 0;
    }
  }
}

@media (max-width: 991px) {
  .modal-close {
    right: 15px;
    top: 5px;
  }

  .modal-content {
    padding: 30px 25px;
  }

  .modal-product-flexbox {
    gap: 25px;
  }

  .modal-product-flexbox-content {
    &__links {
      margin-top: cqi(907, 40, 60);
    }
  }
}

@media (max-width: 767px) {
  .header {
    margin-top: 0;
    .container {
      max-width: 100%;
      padding: 0;
    }
  }

  .header-grid {
    border-radius: 0px 0px 20px 20px;
    padding: 14px 24px;
    height: 52px;
    transition: all 0.3s ease-in-out;
    .logo-wrap {
      grid-column: 1/2;
      grid-row: 1/2;
      align-self: baseline;
    }
    .navigation {
      position: absolute;
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition: all 0.3s ease-in-out;
      #nav-ul {
        flex-direction: column;
        gap: 25px;
      }
    }
  }

  .header-btn {
    display: none;
  }

  .burger-btn {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: flex-start;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      width: calc(100% - 8px);
      height: 2px;
      background-color: rgb(255, 255, 255);
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
    }
    &__dash {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: calc(100% - 8px);
      height: 2px;
      background-color: rgb(255, 255, 255);
      border-radius: 1px;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 4px;
      width: calc(100% - 8px);
      height: 2px;
      background-color: rgb(255, 255, 255);
      border-radius: 1px;
      transition: all 0.3s ease-in-out;
    }
  }

  .header-mob {
    .burger-btn {
      &::before {
        top: 11px;
        left: 0;
        width: 100%;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
      }
      &__dash {
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      &::after {
        bottom: 11px;
        left: 0;
        width: 100%;
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }
    }
    .header-grid {
      height: 100vh;
      height: 100vh;
      overflow: auto;
      transition: all 0.3s ease-in-out;
      grid-template-rows: auto 1fr;
      border-radius: 0;
    }
    .logo-wrap {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    .navigation {
      position: relative;
      opacity: 1;
      user-select: auto;
      pointer-events: auto;
      grid-column: 1/4;
      grid-row: 2/3;
      transition: all 0.3s ease-in-out;
    }
    .burger-btn {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  .presentation-grid {
    &__bg {
      display: none;
    }
    &__content {
      align-items: center;
      gap: 14px;
    }
    &__mob-bg {
      display: block;
      width: 200px;
      padding: 15px 0;
      order: 3;
    }
    &__mob-bg-item {
      max-width: 100%;
      height: auto;
    }
    &__gallery {
      justify-content: center;
      padding-bottom: 0;
    }
    &__mob-btn {
      display: inline-block;
      order: 4;
      margin-bottom: 30px;
      font-size: cqi(767, 12, 22);
      padding: 12px 44px 15px 44px;
    }
    &__title {
      padding-top: 86px;
    }
  }

  .back-side-card {
    letter-spacing: -0.6px;
  }

  .back-side-card-list {
    &__list {
      &_circle {
        display: none;
      }
    }
  }

  .market-list {
    &__item {
      width: 32%;
    }
  }

  .comunnity {
    position: relative;
    background: linear-gradient(
      90deg,
      rgba(244, 153, 44, 1),
      rgba(252, 190, 50, 1) 50%,
      rgba(242, 147, 42, 1) 100%
    );
    box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
      0px 12px 42px -4px rgba(24, 39, 75, 0.12);
  }

  .comunnity-grid {
    grid-template-columns: 1fr 1fr;
  }

  .comunnity-grid-content {
    grid-column: 1/3;
    grid-row: 1/2;
    position: relative;
    z-index: 1;
    text-align: center;
    justify-items: center;
    padding: cqi(767, 24, 55) 0 0 0;
    &::after {
      display: none;
    }
    &__text {
      max-width: 89%;
    }
    &__btn {
      padding-left: 88px;
      padding-right: 88px;
    }
  }

  .comunnity-grid-img {
    grid-column: 1/3;
    grid-row: 2/3;
    position: relative;
    z-index: 0;
    margin-top: -33px;
    left: -15px;
    &__item {
      max-width: calc(100% + 30px);
    }
  }

  .bloggers {
    &__title {
      &_small {
        display: block;
      }
    }
    &__container {
      padding-left: 15px;
    }
  }

  .reviews-gallery-slider {
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .request-grid {
    grid-template-columns: 1fr 1fr;
  }

  .request-grid-content {
    grid-column: 1/3;
    grid-row: 1/1;
    &__title,
    &__text {
      text-align: center;
    }
  }

  .request-grid-bg {
    display: none;
  }

  .footer-grid {
    grid-template-columns: 1fr 0 96px 0;
  }

  .footer-grid-logo-item {
    grid-column: 1/5;
    text-align: center;
    margin-bottom: 30px;
    &__logo-wrap {
      width: 100%;
    }
    &__logo {
      width: unset;
      max-height: 49px;
    }
  }

  .footer-grid-navigation {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 27px;
    #nav-ul {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .footer-grid-tel {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .footer-grid-social {
    grid-column: 3/5;
    grid-row: 2/4;
  }

  .copyright {
    margin-top: 27px;
  }

  .advantage-flexbox-content {
    &__item {
      flex: 1 0 cqi(767, 257.5, 330);
      gap: 24px;
    }
  }

  .modal-content {
    padding: 30px 15px;
  }

  .modal-product-flexbox {
    flex-wrap: wrap;
    justify-content: center;
    gap: cqi(737, 15, 25);
  }

  .modal-product-flexbox-content {
    &__links {
      margin-top: cqi(737, 15, 30);
    }
  }

  .modal-product-flexbox-gallery {
    min-width: 330px;
    justify-content: center;
    &__main {
      display: none;
    }
  }

  .modal-product-slider {
    flex: 0 1 330px;
    &__next-btn {
      top: 50%;
      left: unset;
      right: 0;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .top-wrap {
    padding-top: 86px;
  }
}

@media (max-width: 574px) {
  .advantage-flexbox-content {
    &__item {
      display: grid;
      grid-template-columns: 64px 1fr;
      row-gap: 0;
    }
    &__item-logo {
      grid-column: 1/2;
      grid-row: 1/2;
      margin-bottom: 0;
    }
    &__item-box {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &__item-title {
      margin-bottom: 4px;
    }
  }
}

@media (max-width: 529px) {
  .showcase-list {
    &__item {
      width: 48%;
    }
  }

  .market-list {
    &__item {
      width: 48%;
    }
  }
}
